.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
  }
  
  .formBox {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  
  .formContainer {
    width: 300px;
  }
  
  .formContainer h2 {
    margin-bottom: 20px;
  }
  
  .formContainer form div {
    margin-bottom: 15px;
  }
  
  .formContainer form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .formContainer form input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .formContainer form button {
    width: 100%;
    padding: 10px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .formContainer p {
    margin-top: 10px;
    cursor: pointer;
    color: #0070f3;
  }

  .formContainer {
    width: 400px; /* Adjust width as needed */
  }
  
  .formRow {
    display: flex;
    margin-bottom: 15px;
  }
  
  .formField {
    flex: 1;
    margin-right: 70px; /* Add some gap between elements */
  }
  
  .formField:last-child {
    margin-right: 0px;
  }


  /* styles/Home.module.css */

.homeContainer {
  display: flex;
}

.sideNavbar {
  width: 200px;
  background-color: #f0f0f0;
}

.navbarItem {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.navbarItem:last-child {
  border-bottom: none;
}

.mainContent {
  flex: 1;
  padding: 20px;
}

.searchBar {
  margin-bottom: 20px;
}

.searchBar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
